:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-ExtraBold.ttf);
    font-weight: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--Off-white);
    padding: 2.5rem;
}

.wrapper {
    max-width: 82rem;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 3rem;
}

.navigation-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.navigation-categories a {
    color: var(--darkGrayishBlue);
    text-decoration: none;
}

.navigation-categories a:hover {
    color: var(--softOrange);
    transition: color 250ms ease;
}

main {
    display: grid;
    grid-template-rows: auto 8rem;
    grid-template-columns: repeat(3, 1fr);
}

.main-article {
    grid-row: 1;
    grid-column: 1 / 3;
    outline: solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.main-article-img {
    grid-column: 1 / 3;
}

.main-article-img img {
    width: 100%;
}

.main-article-title h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
}

.new-articles {
    grid-row: 1;
    grid-column: 3;
    outline: solid 1px;
}

.other-article {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 8rem;
    outline: solid 1px;
}

.other-article img {
    height: 100%;
}

.other-article ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    list-style: none;
}

.article-number {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--softRed);
}

.other-article-title a {
    font-weight: 700;
    color: var(--veryDarkBlue);
    text-decoration: none;
}

.other-article-title a:hover {
    color: var(--softRed);
    transition: color 250ms ease;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-block-start: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}